<a
  href="{{ '/' | relative_url }}"
  {% if page.url == '/' %}
    aria-current="page"
  {% endif %}
  >Home</a
>
<a
  href="{{ '/about/' | relative_url }}"
  {% if page.url == '/about/' %}
    aria-current="page"
  {% endif %}
  >About</a
>
<a
  href="{{ '/network/' | relative_url }}"
  {% if page.url == '/network/' %}
    aria-current="page"
  {% endif %}
  >Network</a
>
<a
  href="{{ '/wander/' | relative_url }}"
  {% if page.url == '/wander/' %}
    aria-current="page"
  {% endif %}
  >Wander</a
>
<a
  href="{{ '/nominate/' | relative_url }}"
  {% if page.url == '/nominate/' %}
    aria-current="page"
  {% endif %}
  >Nominate</a
>
<a
  href="{{ '/specs/' | relative_url }}"
  {% if page.url == '/specs/' %}
    aria-current="page"
  {% endif %}
  >Specifications</a
>
<a
  href="{{ '/governance/' | relative_url }}"
  {% if page.url == '/governance/' %}
    aria-current="page"
  {% endif %}
  >Governance</a
>
<a
  href="{{ '/implement/' | relative_url }}"
  {% if page.url == '/implement/' %}
    aria-current="page"
  {% endif %}
  >Implement</a
>
<a
  href="{{ '/joshbot/' | relative_url }}"
  {% if page.url == '/joshbot/' %}
    aria-current="page"
  {% endif %}
  >JoshBot</a
>
